.legal-document-link{
    &:hover:before{
        content: "";
        background: linear-gradient( 
    90deg , rgba(52,60,113,0) 0%, rgba(52,60,113,1) 45%, rgba(52,60,113,1) 55%, rgba(52,60,113,0) 100%);
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0%;
        height: 1px;
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;
        width: 100%;
        left: 0%;
    }
}