.blog{
    .resource-collection-item{
        .columns.blog-hp-featured-columns{
            margin:0;
        }
        .blog-hp-image{
            -webkit-mask-image: linear-gradient(5deg,transparent 14%,$color-blue-navy-light 15%);
            mask-image: linear-gradient(5deg,transparent 14%,$color-blue-navy-light 15%);
        }
        .blog-hp-featured-image{
            -webkit-mask-image: linear-gradient(-86deg, transparent 5%, $color-blue-navy-light 6%);
            mask-image: linear-gradient(-86deg, transparent 5%, $color-blue-navy-light 6%);
        }
    }
}

.blog-item{
    blockquote{
        font-weight:$font-weight-bold;
        margin-left:84px;
        margin-right:84px;
        @media(max-width:$screen-max-lg){
            margin-left:40px;
            margin-right:40px;
        }
    }
    .blog-author-image-container{
        &:after {
            content: '';
            background: url(https://uploads-ssl.webflow.com/5fd12c44f4b20161bb3602da/60ae94a3f6f4db14f0b31e5e_linkedin-bug.svg) no-repeat;
            width: 17px;
            height: 16px;
            display: block;
            background-size: 17px 16px;
            position: absolute;
            left: 34px;
            bottom: -1px;
        }
    }
    .resource-collection-item{
        .blog-hp-image{
            -webkit-mask-image: linear-gradient(5deg,transparent 14%,$color-blue-navy-light 15%);
            mask-image: linear-gradient(5deg,transparent 14%,$color-blue-navy-light 15%);
        }
    }
}