.blog{
    .resource-collection-item{
        .columns.blog-hp-featured-columns{
            margin:0;
        }
    }
}

.blog-item{
    blockquote{
        font-weight:$font-weight-bold;
        margin-left:84px;
        margin-right:84px;
    }
}