.channel-stat {
    margin: auto;

    @media(min-width:$screen-min-lg) {
        position: absolute;
        right: -97px;
        // top: 71px;
    }
}

.upgrade-embed {
    h2 {
        text-align: center;
    }

    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .text-center {
        text-align: center;
    }

    .main-table {
        margin-bottom: 80px;
    }
}

.intents {
    .bubble-fade {
        display: none;
        position: absolute;

        &.bubble-tr {
            right: -13px;
            top: 49px;
        }

        &.bubble-bl {
            left: 13px;
            bottom: 40px;
        }

        &.bubble-tl {
            left: 2px;
            top: 49px;
        }

        &.bubble-br {
            right: 25px;
            bottom: 40px;
        }
    }
}

.container-default .columns .column>img.mobile-icon-image {
    @media(max-width:$screen-max-lg) {
        width: auto;
    }
}

.calc-container {
    width: 100%;
    margin: auto;
    height: 100%;
    background: #F4F4F6;
    padding: 72px 32px;
    border-radius: 8px;
    display: flex;
    flex-flow: initial;

    @media(max-width:$screen-max-lg) {
        flex-flow: column;
    }
}

.calc-left {
    width: 34%;
    display: inline-block;

    @media(max-width:$screen-max-lg) {
        width: 100%;
    }
}

.calc-right {
    width: 59%;
    margin-left: 80px;
    padding: 0 32px;
    display: inline-block;
    border-radius: 16px;

    @media(max-width:$screen-max-lg) {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}

.slide-container {
    width: 100%;
}

.slide-container p {
    margin-bottom: 16px;
    margin-top: 5px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: auto;
    float: left;
    display: inline;

    @media(max-width:$screen-max-lg) {
        margin-bottom: 8px;
    }
}

.slide-container .industry-select {
    appearance: none;
    background: #2E305F;
    border: 0;
    border-radius: 8px;
    color: #C5C7CE;
    width: 100%;
    padding: 10px 15px;
    outline: none !important;
}


.jqslider-styles.ui-slider {
    height: 4px;
    background: #DDDFE4;
    border-radius: 8px;
    border: 0;
    clear: both;
    margin-bottom: 50px;
}

.jqslider-styles.ui-slider:hover {
    opacity: 1;
}

.jqslider-styles.ui-slider .ui-slider-range {
    background: linear-gradient(90deg, #3863E5 0%, #8D46EB 43.18%, #E849B7 86.36%);
}

.jqslider-styles.ui-slider .ui-slider-handle {
    width: 16px;
    height: 16px;
    background: #fcfcfd;
    cursor: pointer;
    border: 4px solid #363944;
    border-radius: 50%;
    outline: none;
}

.slider-value {
    -webkit-appearance: none;
    appearance: none;
    background: #FCFCFC;
    border: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 0;
    color: #363944;
    float: right;
    width: 156px;
    padding: 2px 12px;

    @media(max-width:$screen-max-lg) {
        float: left;
        width: 100%;
        margin-bottom: 12px;
    }
}

.contain {
    overflow: hidden;
    max-width: 1080px;
    margin: 0 auto;
}

.biz-case {

    .glow-container {
        box-shadow: none;
        max-width: 100%;
    }

    .section-default,
    .navbar {
        max-width: 100%;
    }

    .columns.reverse-margin,
    .columns.bc-table-col {
        flex-wrap: nowrap !important;
    }

    .bar-chart {
        height: 100%;
    }

    .bar-chart p {
        text-align: center;
        margin: .5em 0 1em;
    }

    .bar-chart .row {
        position: relative;
        line-height: 1.25em;
        margin-bottom: 3em;
        height: 500px;
    }

    .bar-chart .row .segment {
        flex: 1 100%;
        display: block;
        position: relative;
        align-self: flex-end;
    }

    .bar-chart .row .segment:before {
        content: "";
        display: block;
        width: 100%;
        bottom: 0;
        position: absolute;
        height: 1px;
        background-color: #414245;
        z-index: -1;
    }

    .bar-chart .label {
        display: block;
        font-size: .85em;
    }

    /* X Axis */
    .bar-chart .x-axis {
        display: flex;
        height: 100%
    }

    .bar-chart .x-axis .year {
        flex: 1;
    }

    .bar-chart .x-axis .year .col {
        display: flex;
        height: 100%;
        flex-flow: column-reverse;
        margin: 0 10%;
    }

    .bar-chart .x-axis .year .col .bar {
        /* flex: 1; */
        background-color: #95CBE5;
        /* align-self: flex-end; */
        position: relative;
        /* margin: 0 25%; */
        height: 0px;
        -webkit-transition: height, 1s ease;
        -moz-transition: height, 1s ease;
        -ms-transition: height, 1s ease;
        transition: height, 1s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar-chart .x-axis .year .col .bar+.bar {
        background-color: #F5A77A;
    }

    .bar-chart .x-axis .label {
        align-self: flex-end;
        padding: .5em 0 0;
        line-height: 1em;
        text-align: center;
    }

    .bar-chart .x-axis .label:not(.number) {
        color: #1C1D22;
        padding-top: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Inter', sans-serif;
    }

    .bar-chart .x-axis .year .col .bar .tooltip,
    .bar-chart .x-axis .year .col .bar .tooltip:after {
        display: block;
        position: absolute;
        z-index: 2;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .bar-chart .x-axis .year .col .bar .tooltip {
        font-size: 20px;
        color: #1C1D22;
        padding: 0;
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-weight: 400;
    }

    /* Legend */
    .bar-chart .legend {
        margin: 0 auto;
        text-align: center;
        padding: 0;
        font-size: .875em;
    }

    .bar-chart .legend li {
        display: inline-block;
        padding: .25em 1em;
        line-height: 1em;
        font-family: 'Inter', sans-serif;
        color: #1C1D22;
    }

    .bar-chart .legend li:before {
        content: "";
        margin-right: .5em;
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #F5A77A;
        border-radius: 100px;
        top: 5px;
        position: relative;
    }

    .bar-chart .legend li:nth-child(2):before {
        background-color: #95CBE5;
    }

    .bar-chart .estimated-total-benefit {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 40px;
        color: #1C1D22;
        margin-bottom: 20px;
    }

    .bar-chart .estimated-total-benefit-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .bar-chart .total-year-benefit {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 21px;
        line-height: 28px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    // @media(max-width:$screen-max-lg) {
    //     .bc-table-wrapper {
    //         width: 50%;
    //         padding-right: 1px;

    //         &:first-of-type {
    //             padding-right: 10px;
    //             padding-left: 1px;
    //             float: right;
    //             overflow: scroll;

    //             .w-col-4 {
    //                 display: none;
    //             }
    //         }
    //     }
    // }

    @media(max-width:$screen-max-lg) {
        .bc-table-wrapper {
            overflow: scroll;

            .bc-table-container {
                width: 700px;

                .column.w-col.w-col-4 {
                    padding-right: 20px;

                    .row-heading,
                    .heading-31 {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .sticky-form {
        background-image: url(https://static.liveperson.com/static-assets/2022/02/08121310/lp-gradient-10p-1-1.jpg);
        background-size: cover;

        .mktoForm {
            input {

                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus {
                    -webkit-text-fill-color: #363944;
                    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
                    box-shadow: 0 0 0px 1000px transparent inset;
                    transition: background-color 5000s ease-in-out 0s;
                    font-size: 16px !important;
                }

                border:0;
                border-radius:4px;
                padding: 12px 40px 12px 12px !important;
                font-size: 16px !important;
                line-height: 24px !important;
                color: #363944;
                background:#fcfcfc;
            }


            .mktoField {
                &::placeholder {
                    color: #363944;
                }

                &::-webkit-input-placeholder {
                    color: #363944;
                }
            }
        }
    }
}

._hj_feedback_container>div>div {
    z-index: 9999;
}