
.mktoForm {
	.thank-you-message{
		font-size: 1.5rem;
		line-height: 1.75rem;
		text-align:center;
		padding:9px 0;
		a{
			color:$color-blue-periwinkle-light !important;
			text-decoration:underline;
		}
	}
	div.thank-you {
		.check-mark {
			float: left;
		}
		&>.thank-you-message{
			font-size: 20px;
			line-height: 28px;
			max-width: 600px;
			float: left;
			text-align:left;
			padding:9px 0;
			a{
				color:$color-blue-periwinkle-light !important;
				text-decoration:underline;
			}
		}
	}
	input {
		&:focus {
			border-bottom-color: #fcfcfd;
			border-bottom-color: #fcfcfd;
		}
		&:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
			  -webkit-text-fill-color: #737881;
			  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
			  transition: background-color 5000s ease-in-out 0s;
		}
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
		border-width: 1px 1px 4px;
		background-color: transparent;
		border-color: #d9d4d0 #d9d4d0 #005ef4;
		border-style: solid;
		padding: 8px 22px 8px 10px !important;
		font-size: 16px !important;
		line-height: 24px !important;
		width: 100% !important;
		color: #737881;
	}
	.mktoField {
		&::placeholder {
			color: #FCFCFD;
		}
		&::-webkit-input-placeholder {
			color: #FCFCFD;
		}
	}
	select {
		&.select-placeholder {
			color: #FCFCFD;
		}
		background-color: transparent;
		color: #737881;
		border-radius: 0;
		font-weight: 300;
		padding: 8px 22px 8px 10px !important;
		margin-top: .5rem;
		width: 100% !important;
		height: 44px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		position: relative;
		border: 1px solid #d9d4d0;
		border-radius: .25rem;
		option {
			color: #494B51;
		}
	}
	// select-container is used on Events Peer-exchange
	.select-container {
		&:after {
			content: "";
			width: 16px;
			height: 10px;
			position: absolute;
			top: 17px;
			right: 16px;
			pointer-events: none;
			background: url(https://lp-site.s3.amazonaws.com/web2020/img/mkto-template/select-down-arrow.svg) no-repeat;
		}
	}
	// mkto-dd-field is used on www site
	.mkto-dd-field{
		.mktoFieldWrap{
			&:after {
				content: "";
				width: 16px;
				height: 10px;
				position: absolute;
				top: 17px;
				right: 17px;
				pointer-events: none;
				background: url(https://lp-site.s3.amazonaws.com/web2020/img/mkto-template/select-down-arrow.svg) no-repeat;
				@media only screen and (max-width: 1185px) {
					top: 19px;
					right: 12px;
				}
			}
		}
	}
	width: 100% !important;
	margin: 0 auto;
	text-align: center !important;
	padding:0;
	button {
		border-radius: 9999px;
		padding: .75rem 1.25rem !important;
		text-decoration: none;
		cursor: pointer;
		font-weight: 400;
		display: inline-block;
		background-image: none !important;
		border: 0 !important;
		background-color: #005ef4 !important;
		font-size: 16px !important;
		font-family: Roboto, Helvetica;
		width: 256px;
	}
	.mktoFieldWrap {
		width: 100%;
	}
	.heading-4 {
		text-align: center;
    }
    .mktoButtonRow{
        display:block !important;
    }
}
.default-checkbox {
	border-width: 1px;
	--border-opacity: 1;
	border-color: #494b51;
	border-color: rgba(73, 75, 81, var(--border-opacity));
}
.mktoAsterix {
	display: none;
}
.mktoGutter {
	display: none;
}
.mktoOffset {
	display: none;
}
label {
	display: none;
}
.mktoButtonWrap {
	margin-left: 0 !important;
}
.mktoButtonWrap.mktoSimple {
	.mktoButton {
		border-radius: 9999px;
		padding: .75rem 1.25rem !important;
		text-decoration: none;
		cursor: pointer;
		font-weight: 400;
		display: inline-block;
		background-image: none !important;
		border: 0 !important;
		background-color: #005ef4 !important;
		font-size: 16px !important;
		font-family: Roboto, Helvetica;
		width: 256px;
		&:hover {
			background: #0040d6 !important;
		}
	}
}
.mktoHtmlText{
	width:100% !important;
}
.mktoFieldDescriptor.mktoFormCol {
	width: 100%;
}
.mktoForm__thankyou--white {
	a {
		color: #fff;
		font-weight: 600;
		text-decoration: underline;
	}
}
body.locked {
	position: fixed;
}
.form--sticky {
	text-align: center;
	position:sticky;
	z-index:100;
	a {
		.span1 {
			display: none;
		}
		.span2 {
			display: none;
		}
	}
}
.form--sticky.swapPosition {
	position: absolute;
	width: 100%;
	z-index: 999999999;
}
@media only screen and (max-width:1185px) {
	.mktoForm {
		.mktoFieldWrap {
			margin-bottom: 12px !important;
			float: none;
		}
		button {
			width: 100% !important;
			margin-right: 0 !important;
		}
		input {
			width: 100% !important;
			margin-right: 0 !important;
			padding: 22px 22px 22px 10px !important;
		}
		.mktoFormCol {
			float: none !important;
		}
		a {
			padding: 0;
		}
	}
	.mktoButtonWrap.mktoSimple {
		.mktoButton {
			width: 100% !important;
			margin-right: 0 !important;
		}
	}
	.mktoFormRow {
		float: none !important;
	}
}
@media only screen and (min-width:1185px) {
	.form--sticky {
		.container {
			display: block !important;
		}
	}
}
@media only screen and (max-width:1184px) {
	.form--sticky {
		a {
			text-decoration: none;
			.span1 {
				display: block;
				padding: .75rem 1.25rem;
				border-radius: 9999px;
				background: #005ef4;
				font-size: 16px;
				font-weight: 600;
				font-family: Roboto, Helvetica;
				line-height: 1.25em;
				width: 205px;
				color: #fff;
				text-align: center;
				margin: auto;
				cursor: pointer;
			}
			.span1.swap {
				display: none;
			}
			.span2 {
				display: none;
			}
			.span2.swap {
				display: block;
				width: 40px;
				margin: auto;
			}
		}
		.container {
			display: none;
		}
	}
}

.form--horizontal {
	padding: 2rem 0;
	.mktoForm {
		width: 100% !important;
		margin: 0 auto;
		text-align: center !important;
		padding-left:0;
		padding-right:0;
		input {
			margin-right: 2rem !important;
			width: 256px !important;
			&:focus {
				border-bottom-color: #ffffff;
			}
		}
		button {
			border-radius: 9999px;
			padding: 0.75rem 1.25rem !important;
			text-decoration: none;
			cursor: pointer;
			font-weight: 400;
			display: inline-block;
			background-image: none !important;
			border: 0 !important;
			background-color: #005Ef4 !important;
			font-size: 16px !important;
			font-family: "Roboto", "Helvetica";
			width: 256px;
		}
	}
	label {
		display: none;
	}
	.mktoOffset {
		display: none;
	}
	.mktoAsterix {
		display: none;
	}
	.mktoGutter {
		display: none;
	}
	.mktoFormRow {
		float: left !important;
		clear: none !important;
    }
    .mktoButtonRow{
        display:inline-block !important;
    }
	.mktoButtonWrap {
		margin-left: 0 !important;
	}
	.mktoButtonWrap.mktoSimple {
		.mktoButton {
			border-radius: 9999px;
			padding: 0.75rem 1.25rem !important;
			text-decoration: none;
			cursor: pointer;
			font-weight: 400;
			display: inline-block;
			background-image: none !important;
			border: 0 !important;
			background-color: #005Ef4 !important;
			font-size: 16px !important;
			font-family: "Roboto", "Helvetica";
			width: 256px;
			&:hover {
				background: #0040D6 !important;
			}
		}
	}
	.mktoFieldDescriptor.mktoFormCol {
		margin-bottom: 0 !important;
	}
}
@media screen and (max-width: 1023px) {
	.form--horizontal {
		padding: 1rem 0;
	}
}
@media only screen and (max-width: 1185px) {
	.form--horizontal {
		.mktoForm {
			.mktoFieldWrap {
				margin-bottom: 12px !important;
				float: none;
			}
			button {
				width: 100% !important;
				margin-right: 0 !important;
			}
			input {
				width: 100% !important;
				margin-right: 0 !important;
				padding: 22px 22px 22px 10px !important;
			}
			.mktoFormCol {
				float: none !important;
			}
			a {
				padding: 0;
			}
		}
		.mktoButtonRow{
			display:block !important;
			.mktoButtonWrap.mktoSimple {
				.mktoButton {
					width: 100% !important;
					margin-right: 0 !important;
				}
			}
		}
		.mktoFormRow {
			float: none !important;
		}
	}
	.mktoForm {
		select {
			width: 100% !important;
			margin-right: 0 !important;
			font-size: 18px !important;
			padding: 10px 22px 10px 10px !important;
		}
	}
}
.form--dropdown{
    .mktoForm{
		select{
			border-color: #d9d4d0 #d9d4d0 #005ef4;
			border-width: 1px 1px 4px;
			line-height: 24px !important;
			padding:10px 22px 10px 10px!important;
			border-radius: .25rem .25rem 0 0;
			margin-top:0;
			font-size:16px;
		}
	} 
	@media only screen and (min-width: 1185px) {
		.mktoForm{
			input, select{
				width:204px !important;
			}
			input{
				padding:8px 19px 8px 10px!important;
			}
			select{
				padding:8px 38px 8px 10px!important;
			}
			.mktoButtonWrap.mktoSimple .mktoButton, button{
				width:176px;
			}
		}
	}
}
.flip-card {
	//background-color: transparent;
	perspective: 1000px;
	height: 100px;
	width: 100%;
	transition: linear .2s height, ease .5s opacity;
	opacity: 1;
	
	.thumbs-up {
		display: inline-block;
		position: initial;
		margin-left: 5px;
	}
	
	@media only screen and (max-width: 1185px) {
		padding: 0 !important;
		height: 76px;
		overflow: hidden;
		form {
			padding: 20px !important;
		}
		&.mobile-expanded {
			height: 465px;
		}
		&.form-submitted {
			&.flipped {
				height: 260px;
			}
			.card-back {
				.w-col-1 {
					display: none;
				}
				.column {
					width: 100%;
				}
			}
		}
		.thumbs-up {
			transform: rotate(90deg) rotateY(180deg);
			width: 25px;
			
		}
	}
	
	.flip-card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 0.6s;
		transform-style: preserve-3d;
		//box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	
	.card-front, .card-back, .card-back-smb {
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		  transform: rotateX(0deg);
	}
	
	.card-back, .card-back-smb {
		transform: rotateX(180deg);
		background: $color-blue-electric;
		.column {
			padding: 0 20px 20px;
		}
	}
	
	.card-back-smb {
		display: none;
	}

	.card-back, .card-back-smb{
		p{
			@media only screen and (max-width: 1185px) {
				text-align: center;
				max-width: 325px;
				margin: 0 auto;
			}
			// &:after{
			// 	content: '';
			// 	height: 30px;
			// 	display: inline-block;
			// 	width: 30px;
			// 	background: url(https://d1hryyr5hiabsc.cloudfront.net/web2020/img/intents/backhand-index-pointing-left_1f448.png) no-repeat;
			// 	background-size: 30px;
			// 	position: absolute;
			// 	margin-left: 7px;
			// 	transform: scale(-1,1);
			// }
		}
	}
	
	&.flipped {
		
		.flip-card-inner {
			transform: rotateX(180deg);
		}
		
		&.smb {
			.card-back-smb {
				display: block;
				.outlined-button {
					margin-top: 5px;
					position: relative;
					
				}
			}
			@media only screen and (max-width: 1185px) {
				height: 280px;
			}
			.card-back {
				display: none;
			}
		}
	}
	.dismiss-container {
		@media only screen and (min-width: 1185px) {
			display: none;	
		}
		padding: 25px 0;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -5px;
		.dismiss-line {
			height: 10px;
			background: white;
			opacity: .5;
			/* margin-top: 10px; */
			width: 25%;
			margin: auto;
			border-radius: 100px;
		}
	}
	.channel-col {
		align-items: flex-start;
		.async-channels {
			margin-top: -3px;
			@media only screen and (max-width: 1185px) {
				text-align: center;	
				width: 100%;
			}
			.channel {
				margin: 0 10px;
				&:hover {
					opacity: .7;
				}
				transition: .4s ease opacity;
			}
		}
	}
	&.dismissed {
		height: 0 !important;
	}
}
