.glow-container{
    max-width: 1920px;
    margin: auto;
    box-shadow: 0 30px 50px rgba(140,140,140,0.4);
}

p{
    a{
        text-decoration: none;
    }
}

.desktop-only{
    @media (max-width: $screen-max-lg){
        display:none !important;
    }
}

.w-container{
    .w-row{
        margin-left: -16px;
        margin-right: -16px;
        @media (max-width: 767px){
            margin-left: 0;
            margin-right: 0
        }
    }
}

.section-divider-global{
    @media (max-width: $screen-max-lg){
        padding:1rem 0 !important;
    }
}

.hero-divider{
    @media (max-width: $screen-max-lg){
        margin:0 -16px;
    }
}

// For resource quotes
blockquote{
    strong{
        font-size:16px;
        position: relative;
        top:4px;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    embed, iframe, object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Hero with phone animation
.mess-channels-video-container{
    @media(min-width:$screen-min-lg){
        height:615px;
        margin-bottom: -1rem;
    }
    .phone-overlay{
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        @media(max-width:$screen-max-lg){
            max-width:100%;
            padding:0 15px;
            width:100%;
            top:-20px;
        }
        &.mess-hero-phone-full{
            bottom:-88px;
            @media(max-width:$screen-max-lg){
                max-width:100%;
            }
            &.android-phone-full{
                bottom:-99px;
                @media(max-width:$screen-max-lg){
                    bottom:0;
                    top:0;
                }
            }
        }
    }
    .phone-video{
        position: relative;
        margin-bottom:17px;
        max-width:100%;
        width:100%;
        display:block;
        @media(max-width:$screen-max-lg){
            display:inline-block;
        }
        &.mess-channels{
            position:absolute;
            left:0;
            right:0;
            bottom:-85px;
            margin:auto;
            @media(max-width:$screen-max-lg){
                margin-bottom:-74px;
                max-width: 300px;
                position:relative;
                bottom:0;
            }
            &.android-phone{
                margin-bottom:34px;
                max-width:88%;
                @media(max-width:$screen-max-lg){
                    margin-bottom:0;
                    top:66px;
                    max-width:80%;
                }
            }
        }
        &.phone-full{
            max-width:90%;
            @media(max-width:$screen-max-lg){
                max-width: 80%;
            }
        }
        &.phone-abc {
            max-width: 88%;
        }
    }
    &.full-iphone{
        height: auto;
        margin-bottom:0;
        .phone-overlay{
            @media(max-width:$screen-max-lg){
                padding:0;
            }
        }
    }
}

.w-slider-nav{
    .w-slider-dot{
        background-color:rgba(255, 255, 255, 0.22);
        &.w-active{
            background-color:$color-orange;
        }
    }
}

.main-table{
    width:100%;
    tr{
        border-bottom-width: 1px;
        border-color: $color-gray;
        border-bottom-style: solid;
        .main-table-title {
            font-size: 1.25rem;
            font-weight: 700;
            padding-bottom: .5rem;
        }
        .main-table-column-title, .main-table-title {
            color: $color-white;
            border-bottom-width: 4px;
            border-color: $color-orange;
            border-bottom-style: solid;
            text-align: left;
        }
        .main-table-row-heading {
            color: $color-white;
            font-weight: 400;
        }
        td {
            padding-top: .75rem;
            padding-bottom: .75rem;
            padding-right: 5rem;
        }
    }
}

.menu-button.w-nav-button{
    svg{
        width:40px !important;
        height:auto !important;
    }
}

.default-link {
    text-decoration: none;
    color: $color-blue-periwinkle-light;
    font-family: $font-roboto;
    font-weight: $font-weight-light;
    cursor: pointer;
    &.arrow-link{
        font-weight: $font-weight-bold;
        &:after{
            content: "";
            border-style: solid;
            border-color: #fcfcfd;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            margin-left: 5px;
            transform: rotate(-45deg);
        }
    }
}

@keyframes chatVisible {
    from {
      opacity:0;
    }
  
    to {
      opacity:1;
    }
  }

div.chat-engagement img {cursor: pointer;}
div.chat-engagement:focus,
div.chat-engagement div,
div.chat-engagement img,
div.LPMcontainer:focus,
div.LPMcontainer div,
div.LPMcontainer img,
div#LP_Embedded_Nav:focus,
div#LP_Embedded_Nav div,
div#LP_Embedded_Nav img
{outline:none !important;
    animation-duration: .2s;
    animation-name: chatVisible;
}

.LPMimage, .magnifier-large{
    max-width:none;
}

#LPMcontainer-1588972941464-8{
    @media(max-width:$screen-max-lg){
        width:94px !important;
        height:94px !important;
        img{
            top:0 !important;
            left:0 !important;
        }
    }
}