.glow-container{
    max-width: 1920px;
    margin: auto;
    box-shadow: 0 30px 50px rgba(140,140,140,0.4);
}

.w-container{
    .w-row{
        margin-left: -16px;
        margin-right: -16px;
        @media (max-width: 767px){
            margin-left: 0;
            margin-right: 0
        }
    }
}