.container-default{
    @media(max-width:1120px){
        max-width: 940px;
    }
    @media(max-width:$screen-max-lg){
        max-width: 768px;
    }
    @media(max-width:767px){
        max-width: 640px;
    }
    @media(max-width:478px){
        width:100%;
    }
    .columns{
        @media(max-width:$screen-max-lg){
            flex-wrap:wrap;
        }
        .column:not(.company-exec-column){
            @media(max-width:$screen-max-lg){
                width:100%;
            }
            > img{
                @media(max-width:$screen-max-lg){
                    max-width:100%;
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
        }
        &.columns-horizontal{
            .column{
                @media(max-width:$screen-max-lg){
                    width:auto;
                    padding:0 16px;
                }
                &.w-col-1{
                    @media(max-width:$screen-max-lg){
                        width:8.33333333%  !important;
                    }
                }
                &.w-col-4{
                    @media(max-width:$screen-max-lg){
                        width:33.33333333% !important;
                    }
                }
                &.w-col-5{
                    @media(max-width:$screen-max-lg){
                        width:41.66666667% !important;
                    }
                }
                &.w-col-6{
                    @media(max-width:$screen-max-lg){
                        width:50% !important;
                    }
                }
                &.w-col-7{
                    @media(max-width:$screen-max-lg){
                        width:58.33333333% !important;
                    }
                }
                &.w-col-8{
                    @media(max-width:$screen-max-lg){
                        width:66.66666667% !important;
                    }
                }
            }
        }
    }
}

.glow-container{
    > .navbar{
        + .section-default{
            .column{
                @media(max-width:$screen-max-lg){
                    text-align: center;
                }
            }
        }
    }
}