.container-default{
    @media(max-width:$screen-max-lg){
        max-width: 768px;
    }
    @media(max-width:767px){
        max-width: 640px;
    }
    @media(max-width:478px){
        width:100%;
    }
    .columns{
        @media(max-width:$screen-max-lg){
            flex-wrap:wrap;
        }
        .column{
            @media(max-width:$screen-max-lg){
                width:100%;
            }
            > img{
                @media(max-width:$screen-max-lg){
                    max-width:100%;
                    margin:auto;
                }
            }
        }
        &.columns-horizontal{
            .column{
                @media(max-width:$screen-max-lg){
                    width:auto;
                    padding:0 16px;
                }
                &.w-col-1{
                    @media(max-width:$screen-max-lg){
                        width:8.33333333%;
                    }
                }
                &.w-col-4{
                    @media(max-width:$screen-max-lg){
                        width:33.33333333%;
                    }
                }
                &.w-col-5{
                    @media(max-width:$screen-max-lg){
                        width:41.66666667%;
                    }
                }
            }
        }
    }
}

.glow-container{
    > .navbar{
        + .section-default{
            .column{
                @media(max-width:$screen-max-lg){
                    text-align: center;
                }
            }
        }
    }
}