.container-default{
    @media(max-width:$screen-max-lg){
        max-width: 768px;
    }
    @media(max-width:768px){
        max-width: 640px;
    }
    @media(max-width:640px){
        width:100%;
    }
    .columns{
        @media(max-width:$screen-max-lg){
            flex-wrap:wrap;
        }
        .column{
            @media(max-width:$screen-max-lg){
                width:100%;
            }
            img{
                @media(max-width:$screen-max-lg){
                    // width:100%;
                }
            }
        }
    }
}

.glow-container{
    > .navbar{
        + .section-default{
            .column{
                text-align: center;
            }
        }
    }
}