.accordian-links{
    background:$color-blue-navy-lighter;
    border-radius:1rem;
    padding:56px;
    margin-bottom:24px;
    p{
        margin-bottom:40px;
        a{
            font-size: 20px;
            line-height: 24px;
            color: #FCFCFD !important;
            text-decoration: none;
        }
    }
}

.policy-content{
    counter-reset: policy-counter;
    h3{
        font-weight:700;
        margin:0;
        font-size:16px;
        line-height:24px;
        font-family:$font-roboto;
        .policy-number{
            color:$color-orange;
            &:before{
                font-family: $font-roboto-mono;
                counter-increment: policy-counter;
                content:counter(policy-counter);
                margin-right: .5rem;
                line-height: 1;
            }
        }
    }
    .policy-single-digit{
        h3{
            .policy-number{
                &:before{
                    font-family: $font-roboto-mono;
                    counter-increment: policy-counter;
                    content: "0" counter(policy-counter);
                    margin-right: .5rem;
                    line-height: 1;
                }
            }
        }
    }
}

.legal-container{
    h2{
        margin-bottom:16px;
        font-size:16px;
        line-height:24px;
        font-family:$font-roboto;
    }
    table {
        margin-bottom: 20px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 1rem;
        td, th {
            border: 1px solid #dddddd;
            background: none!important;
            text-align: left;
            padding: 8px;
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            strong{
                font-weight:900;
            }
        }
    }
    .support-nav-entry{
        font-style: italic;
        display: block;
        margin-bottom: 24px;
        font-weight: 400;
    }
    .support-content{
        h2{
            margin-bottom: 24px;
            font-family: $font-roboto-slab;
            font-size: 32px;
            line-height: 36px;
        }
    }
}

.subprocessor-column{
    h2{
        text-align: center;
        margin-bottom: 20px;
        margin-top: 60px;
        font-family: $font-roboto-slab;
        font-size:24px;
        &.sub-heading-title{
            font-size: 32px;
            font-weight: 600;
        }
    }
}