.resource-icon-block{
    p{
        text-align: center;
        display:block !important;
        margin-bottom:8px;
        .lead{
            font-size:18px;
            line-height:20px;
        }
    }
    ul{
        text-align:left;
    }
}

.resource-page{
    .w-richtext{
        h3{
            margin-top:48px;
            @media(max-width:$screen-max-lg){
                margin-top:24px;
            }
        }
        p, h3, blockquote{
            display:flex;
            flex-wrap: wrap;
            strong, em{
                display:contents;
            }
        }
        blockquote{
            strong{
                margin-top:12px;
            }
        }
        .w-richtext-figure-type-image{
            max-width: 100%;
            &.w-richtext-align-floatleft{
                margin-right:80px;
                @media(max-width:$screen-max-lg){
                    float:none;
                    margin-right:auto;
                    margin-left:auto;
                }
            }
            &.w-richtext-align-floatright{
                margin-left:80px;
                @media(max-width:$screen-max-lg){
                    float:none;
                    margin-right:auto;
                    margin-left:auto;
                }
            }
        }
    }
}