// Typography
$font-roboto:'Roboto', 'Helvetica';
$font-roboto-mono:'Roboto Mono', 'monospace';
$font-roboto-slab:'Roboto Slab', 'serif';

$font-weight-light:300;
$font-weight-normal:400;
$font-weight-bold:700;

// Colors
$color-blue-navy:#090C43;
$color-blue-navy-light:#1D1F52;
$color-blue-navy-lighter:#2E305F;
$color-blue-navy-lightest:#3F416C;

$color-blue-periwinkle:#4667C8;
$color-blue-periwinkle-hover:#3955A7;
$color-blue-periwinkle-light:#A5B9F3;
$color-blue-periwinkle-light-hover:#4667C8;

$color-blue-electric:#005Ef4;
$color-blue-electric-hover:#0040D6;

$color-orange:#FF6900;
$color-orange-hover:#DB5A00;

$color-gray-lightest:#EBECEF;
$color-gray-lighter:#DBDCE1;
$color-gray-light:#C5C7CE;
$color-gray:#737881;
$color-gray-dark:#494B51;
$color-gray-hover:#494B51;

$color-white:#FCFCFD;


// Screen widths
// $screen-min-lg:1024px;
// $screen-max-lg:1023px;
$screen-min-lg:992px;
$screen-max-lg:991px;